<% provide(:title, 'Home') %>

<h1 class="center">Personal Finance App</h1>
<br>
<h2 class="center">Balance Sheet (¥ and $)</h2>
<table class="table">
 <thead>
    <tr>
      <th></th>
      <th>¥ Assets</th>
      <th>$ Assets</th>
      <th></th>
      <th>¥ Liabilities</th>
      <th>$ Liabilities</th>
      <th>¥ Equity</th>
      <th>$ Equity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>Liquid</strong></td>
      <td><%= number_to_currency(0 - liquid_yen_assets, :unit => "¥", :precision => 0) %></td>
      <td><%= number_to_currency(0 - liquid_dollar_assets) %></td>
      <td><strong>Short-term</strong></td>
      <td><%= number_to_currency(st_yen_liabilities, :unit => "¥", :precision => 0) %></td>
      <td><%= number_to_currency(st_dollar_liabilities) %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><strong>Illiquid</strong></td>
      <td><%= number_to_currency(0 - illiquid_yen_assets, :unit => "¥", :precision => 0) %></td>
      <td><%= number_to_currency(0 - illiquid_dollar_assets) %></td>
      <td><strong>Long-term</strong></td>
      <td><%= number_to_currency(lt_yen_liabilities, :unit => "¥", :precision => 0) %></td>
      <td><%= number_to_currency(lt_dollar_liabilities) %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><strong>Total</strong></td>
      <td><strong><%= number_to_currency(0 - yen_assets, :unit => "¥", :precision => 0) %></strong></td>
      <td><strong><%= number_to_currency(0 - dollar_assets) %></strong></td>
      <td><strong>Total</strong></td>
      <td><strong><%= number_to_currency(yen_liabilities, :unit => "¥", :precision => 0) %></strong></td>
      <td><strong><%= number_to_currency(dollar_liabilities) %></strong></td>
      <td><strong><%= number_to_currency(0 - equity_yen, :unit => "¥", :precision => 0) %></strong></td>
      <td><strong><%= number_to_currency(0 - equity_dollar) %></strong></td>
    </tr>
  </tbody>
</table>

<h2 class="center">Balance Sheet (Converted to ¥)</h2>
<table class="table">
 <thead>
    <tr>
      <th></th>
      <th>Converted Assets</th>
      <th></th>
      <th>Converted Liabilities</th>
      <th>Converted Equity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>Liquid</strong></td>
      <td><span class="green"><%= number_to_currency(0 - liquid_converted_assets, :unit => "¥", :precision => 0) %></span></td>
      <td><strong>Short-term</strong></td>
      <td><span class="green"><%= number_to_currency(st_converted_liabilities, :unit => "¥", :precision => 0) %></span></td>
      <td></td>
    </tr>
    <tr>
      <td><strong>Illiquid</strong></td>
      <td><span class="green"><%= number_to_currency(0 - illiquid_converted_assets, :unit => "¥", :precision => 0) %></span></td>
      <td><strong>Long-term</strong></td>
      <td><span class="green"><%= number_to_currency(lt_converted_liabilities, :unit => "¥", :precision => 0) %></span></td>
      <td></td>
    </tr>
    <tr>
      <td><strong>Total</strong></td>
      <td><span class="green"><strong><%= number_to_currency(0 - converted_assets, :unit => "¥", :precision => 0) %></strong></span></td>
      <td><strong>Total</strong></td>
      <td><span class="green"><strong><%= number_to_currency(converted_liabilities, :unit => "¥", :precision => 0) %></strong></span></td>
      <td><span class="green"><strong><%= number_to_currency(0 - equity_converted, :unit => "¥", :precision => 0) %></strong></span></td>
    </tr>
  </tbody>
</table>

<h2 class="center">Expense by Category</h2>
<div id="chart1">
  <div class="vis-tool-tip" id="chart1_tool_tip">
    <div id="vis-tool-tip-title1"></div> 
  </div>
</div>

<table class="table">
 <thead>
    <tr>
      <th>Name</th>
      <th>Group</th>
      <th>¥ Total</th>
      <th>$ Total</th>
      <th>Converted Total</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |c| %>
      <tr>
        <td><%= link_to c.name, c %></td>
        <td><%= c.group.name %></td>
        <td><%= number_to_currency(category_yen_total(c.id), :unit => "¥", :precision => 0) %></td>
        <td><%= number_to_currency(category_dollar_total(c.id)) %></td>
        <td><%= number_to_currency(category_converted_total(c.id), :unit => "¥", :precision => 0) %></td>
      </tr>
  <% end %>      
  </tbody>
</table>

<h2 class="center">Expense by Group</h2>
<div id="chart2">
  <div class="vis-tool-tip" id="chart2_tool_tip">
    <div id="vis-tool-tip-title2"></div> 
  </div>
</div>

<table class="table">
 <thead>
    <tr>
      <th>Name</th>
      <th>¥ Total</th>
      <th>$ Total</th>
      <th>Converted Total</th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |g| %>
      <tr>
        <td><%= link_to g.name, g %></td>
        <td><%= number_to_currency(group_yen_total(g.id), :unit => "¥", :precision => 0) %></td>
        <td><%= number_to_currency(group_dollar_total(g.id)) %></td>
        <td><%= number_to_currency(group_converted_total(g.id), :unit => "¥", :precision => 0) %></td>
      </tr>
    <% end %>      
  </tbody>
</table>

<script>
var url1 = '/graph1.json';
var url2 = '/graph2.json';

var width = 960,
    height = 400,
    radius = Math.min(width, height) / 2;

var color = d3.scale.ordinal()
    .range(["#0c3c6e",
            "#024d99",
            "#2a8aec",
            "#d3dae1"
            ]);

var arc = d3.svg.arc()
    .outerRadius(radius - 10)
    .innerRadius(radius - 70);

var pie = d3.layout.pie()
    .value(function(d) { return d.amount; });

var svg = d3.select("#chart1").append("svg")
    .attr("width", width)
    .attr("height", height)
  .append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

d3.json(url1, function(error, data) {
  var arr = new Array();
  data.forEach(function(d) {
    d.amount = +d.amount;
    arr.push(d.amount);
  });

  var min = Math.min.apply(null, arr);
  var max = Math.max.apply(null, arr);

  var color = d3.scale.linear()
    .domain([min, max])
    .interpolate(d3.interpolateHsl)
    .range(["#c0c3ca","#386df4"]);

  var g = svg.selectAll(".arc")
      .data(pie(data))
    .enter().append("g")
      .attr("class", "arc")
      .on("mouseover", mover)
      .on("mouseout", mout);

  g.append("path")
      .attr("d", arc)
      .style("fill", function(d) { return color(d.data.amount); });

  function mover(d) {
    $("#chart1_tool_tip").fadeOut(100,function () {
      $("#vis-tool-tip-title1").html(d.data.category.name);  
      $("#chart1_tool_tip").fadeIn(100);
    });
  }

  function mout(d) {
    $("#chart1_tool_tip").fadeOut(50);
  }

});

var svg2 = d3.select("#chart2").append("svg")
    .attr("width", width)
    .attr("height", height)
  .append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

d3.json(url2, function(error, data) {
  var arr = new Array();
  data.forEach(function(d) {
    arr.push(d.amount);
    d.amount = +d.amount;
  });

  var min = Math.min.apply(null, arr);
  var max = Math.max.apply(null, arr);

  var color2 = d3.scale.linear()
    .domain([min, max])
    .interpolate(d3.interpolateHsl)
    .range(["#c0c3ca","#386df4"]);

  var g = svg2.selectAll(".arc")
      .data(pie(data))
    .enter().append("g")
      .attr("class", "arc")
      .on("mouseover", mover)
      .on("mouseout", mout);

  g.append("path")
      .attr("d", arc)
      .style("fill", function(d) { return color2(d.data.amount); });

  function mover(d) {
    $("#chart2_tool_tip").fadeOut(100,function () {
      $("#vis-tool-tip-title2").html(d.data.name);  
      $("#chart2_tool_tip").fadeIn(100);
    });
  }

  function mout(d) {
    $("#chart2_tool_tip").fadeOut(50);
}

});
</script>