<% provide(:title, @group.name) %>
<h1 class="center"><%= @group.name %></h1>

<h2>Sub-categories</h2>

<table class="table">
  <thead>
    <tr>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
  	<% @categories.each do |c| %>
	    <tr>
	      <td><%= c.name%></td>
	    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Edit", edit_group_path(@group) %> | 
<%= link_to "Delete", @group, confirm: "Are you sure?", method: :delete %> | 
<%= link_to "Back to Group Index", groups_path %>