<% provide(:title, 'Categories') %>
<h1 class="center">Categories</h1>
<table class="table">
 <thead>
    <tr>
      <th>Name</th>
      <th>Group</th>
      <th>¥ Total</th>
      <th>$ Total</th>
      <th>Converted Total</th>
    </tr>
  </thead>
  <tbody>
  	<% @categories.each do |c| %>
	    <tr>
	      <td><%= link_to c.name, c %></td>
	      <td><%= c.group.name %></td>
        <td><%= number_to_currency(category_yen_total(c.id), :unit => "¥", :precision => 0) %></td>
        <td><%= number_to_currency(category_dollar_total(c.id)) %></td>
        <td><%= number_to_currency(category_converted_total(c.id), :unit => "¥", :precision => 0) %></td>
	    </tr>
	<% end %>      
  </tbody>
</table>