<%= form_for @transaction, :html => {:class => "form-horizontal"} do |form| %> 
  <%= render 'shared/error_messages', object: form.object %>
  <fieldset>
    <span class="help-block">Enter new transactions here. Each transaction consists of a debit and a credit amount. The sum of the debit and credit must equal zero. <strong>Enter USD amounts as integers. For example: $65.56 = 6556</strong></span>
    <br>
    <div class="control-group">
      <%= form.label  :currency, "Currency:", :class => "control-label" %>
      <div class="controls">
        <%= form.select :currency, options_for_select([['¥ JPY', 'JPY'], ['$ USD', 'USD']]), {}, {:class => "span2 currency_select"} %>
      </div>
    </div>  
    <div class="control-group">
      <%= form.label :date, "Date:", :class => "control-label" %>
      <div class="controls">
        <%= form.text_field :date, :class => "span2 datepicker" %>
      </div>
    </div>
    <div class="control-group">
      <%= form.label :category_id, "Category:", :class => "control-label" %>
      <div class="controls">
        <%= form.collection_select :category_id, Category.all, :id, :name, {}, {:class => "span3 category_select"} %>
         <div class="link_to_right">
            <%= link_to "New Category?", new_category_path %>
          </div>
      </div>
    </div>    
    <% $i = 1; begin %> 
      <% [:transaction_a, :transaction_b].each do |transaction| %>
        <h4><% if transaction == :transaction_a %>Expense Amount (Positive Number)<% else %>Revenue Amount (Negative Number)<% end %></h4>
          <%= fields_for transaction do |f| %>
            <div class="well">      
              <div class="control-group">
                <%= f.label :converted_amount, "Amount:", :class => "control-label" %>
                <div class="controls">
                  <div class="input-prepend">
                    <span class="add-on"><span class="yen">¥</span><span class="dollar">$</span></span>
                    <%= f.text_field :converted_amount, :class => "span2", :id => "prependedInput#{$i}" %>
                  </div>
                </div>
              </div>    
              <div class="control-group">
                <%= f.label :account_id, "Account:", :class => "control-label" %>
                <div class="controls">
                  <%= f.collection_select :account_id, Account.all, :id, :name, {}, {:class => "span3 account_select"} %>
                  <div class="link_to_right">
                    <%= link_to "New Account?", new_account_path %>
                  </div>
                </div>
              </div>    
            </div>  
               
          <% end %>     
        <% $i +=1; %>  
      <% end %> 
    <% end %>  
    <div class="center">
      <%= form.submit "Create Transaction", :class => "btn btn-large btn-primary" %>
    </div>  
  </fieldset>
<% end %>
<script>
$(function() {
  $('.currency_select').on('change', function() {
    if(this.value === "USD"){
      $('.dollar').show();
      $('.yen').hide();
    } 
    else if (this.value === "JPY") {
      $('.dollar').hide();
      $('.yen').show();
    }
    else {
      $('.dollar').hide();
      $('.yen').hide();
    }
  });  
  $("#prependedInput1").change(function() {
    var n = $("#prependedInput1").val();
    var m = parseInt(n) * -1;
    $("#prependedInput2").val(m); 
  });
  $('.datepicker').datepicker({
      format: 'yyyy/mm/dd'
  });
  $(".account_select").select2({
    placeholder: 'Select Account',
        allowClear: true
  });
  $(".category_select").select2({
    placeholder: 'Select Category',
        allowClear: true
  }); 
  $(".currency_select").select2({
    placeholder: 'Select Currency',
        allowClear: true
  }); 
});  
</script>