<% provide(:title, 'Transactions') %>
<h1 class="center">Transaction Index</h1>
<p>
  Download:
  <%= link_to "CSV", transactions_path(format: "csv") %> |
  <%= link_to "Excel", transactions_path(format: "xls") %>
</p>
<table class="table">
 <thead>
    <tr>
      <th>Date</th>
      <th>Currency</th>
      <th>Amount</th>
      <th>Account</th>
      <th>Category</th>
      <th>Group</th>
    </tr>
  </thead>
  <tbody>
  	<% @transactions.each do |t| %>
	    <tr>
	      <td><%= link_to t.date, t %></td>
	      <td><%= t.currency %></td>
	      <% if t.currency == "USD" %>
	      	<td><%= number_to_currency(t.amount.to_d / 100) %></td>
	      <% else %>
	      	<td><%= number_to_currency(t.amount, :unit => "¥", :precision => 0) %></td>
	      <% end %>	
	      <td><%= t.account.name %></td>
	      <td><%= t.category.name %></td>
	      <td><%= t.category.group.name %></td>
	    </tr>
    <% end %>
  </tbody>
</table>