<%= form_for @rate do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	  
	<%= f.hidden_field :currency, :value => "JPY" %>
	<%= f.hidden_field :rate, :value => "", :id=> "exchange_rate_hidden" %>
		  		
	<div class="center">
  		<%= f.submit "Get New Rate", :class => "btn btn-large btn-primary" %>
  	</div>	
<% end %>
<script>
    $(function() {
      $.ajax({
          url: 'http://openexchangerates.org/api/latest.json?app_id=e688119a47ab4782867c3f90bd0a8924',
          dataType: 'jsonp',
          success: function(json) {
              // Rates are in `json.rates`
              // Base currency (USD) is `json.base`
              // UNIX Timestamp when rates were collected is in `json.timestamp`

              // If you're using money.js, do this:
              fx.rates = json.rates;
              fx.base = json.base;
              //$('#exchange_rate').append(fx.rates.JPY.toFixed(2));
              //console.log(fx(1000).from("USD").to("JPY"));
			  $('input[id=exchange_rate_hidden]').val(fx.rates.JPY);
          }
      });
    });
</script>