<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
  	<div class="container">
	  <%= link_to(image_tag("logo.png", :alt => "FridgeChart"), root_path, :class => "brand") %>
	  <ul class="nav">
	  	<li class="<%= 'active' if current_page?(new_transaction_path) %>">
	    	<%= link_to "New Transaction", new_transaction_path %>
	    </li>
	    <li class="<%= 'active' if current_page?(transactions_path) %>">
	    	<%= link_to "Transactions", transactions_path %>
	    </li>
	    <li class="<%= 'active' if current_page?(accounts_path) %>">
	    	<%= link_to "Accounts", accounts_path %>
	    </li>
	    <li class="<%= 'active' if current_page?(categories_path) %>">
	    	<%= link_to "Categories", categories_path %>
	    </li>
	    <li class="<%= 'active' if current_page?(groups_path) %>">
	    	<%= link_to "Groups", groups_path %>
	    </li>
	    <li class="<%= 'active' if current_page?(new_rate_path) %>">
	    	<%= link_to "New Rate", new_rate_path %>
	    </li>
	  </ul>
	  <div class="pull-right" style="<%= 'display:none;' unless current_page?(accounts_path) %>">
	    <%= link_to "Create New Account", new_account_path, :class => "btn btn-warning" %>
	  </div>
	  <div class="pull-right" style="<%= 'display:none;' unless current_page?(categories_path) %>">
	    <%= link_to "Create New Category", new_category_path, :class => "btn btn-warning" %>
	  </div>
	  <div class="pull-right" style="<%= 'display:none;' unless current_page?(groups_path) %>">
	    <%= link_to "Create New Group", new_group_path, :class => "btn btn-warning" %>
	  </div>
	  <div class="pull-right" style="<%= 'display:none;' unless current_page?(transactions_path) %>">
	    <%= link_to "Create New Transaction", new_transaction_path, :class => "btn btn-warning" %>
	  </div>
	  <div class="pull-right blue" id="exchange_div" style="<%= 'display:none;' unless current_page?(root_path) %>">$1 = ¥<%= string_rate %></div>
	</div>    
  </div>
</div>