<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
	    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
	    <%= yield %>
    </div>  
  </body>
  <script>
    $(function() {
      $.ajax({
          url: 'http://openexchangerates.org/api/latest.json?app_id=e688119a47ab4782867c3f90bd0a8924',
          dataType: 'jsonp',
          success: function(json) {
              // Rates are in `json.rates`
              // Base currency (USD) is `json.base`
              // UNIX Timestamp when rates were collected is in `json.timestamp`

              // If you're using money.js, do this:
              fx.rates = json.rates;
              fx.base = json.base;
              $('#exchange_rate').append(fx.rates.JPY.toFixed(2));
          }
      });
    });
  </script>
</html>