<% provide(:title, @account.name) %>
<h1 class="center"><%= @account.name %></h1>

<address>
  <strong><%= @account.owner %></strong><br>
  <%= markdown(@account.address) %>
  Phone: <%= @account.phone_number %><br>
  <%= markdown(@account.url) %>
</address>

<h2>Account History</h2>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>¥ Amount</th>
      <th>$ Amount</th>
      <th>Category</th>
      <th>Group</th>
    </tr>
  </thead>
  <tbody>
  	<% @account_transactions.each do |at| %>
	    <tr>
	      <td><%= link_to at.date, at%></td>
	      <% if at.currency == "USD" %>
	      	<td></td>
	        <td><%= number_to_currency(0 - at.converted_amount) %></td>
	      <% else %>	  
	      	<td><%= number_to_currency(0 - at.converted_amount, :unit => "¥", :precision => 0) %></td>
	      	<td></td>
	      <% end %>	
	      <td><%= at.category.name %></td>
	      <td><%= at.category.group.name %></td>
	    </tr>
    <% end %>
    <tr>
    	<td><strong>Totals</strong></td>
	    <td><strong><%= number_to_currency(0 - yen_balance(@account.id), :unit => "¥", :precision => 0) %></strong></td>
	    <td><strong><%= number_to_currency(0 - dollar_balance(@account.id)) %></strong></td>
	    <td></td>
	    <td></td>
  </tbody>
</table>

<%= link_to "Edit", edit_account_path(@account) %> | 
<%= link_to "Back to Account Index", accounts_path %>